@media screen and (max-width: 800px) {
    .head-icon {
       display: none;
    }
    .head {
         flex-direction: column;
     }
    .head h1, h3 {
               font-size: 24px;
    }
    .news {
        flex-direction: column;
    }
}
