body {
    padding: 20px;
}
.container {
    background-color: beige;
    padding: 20px;
}
.row {
    justify-content: space-evenly;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}
.navbar-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.head-title h1 {
    font-size: 58px;
    font-family: 'Permanent Marker', cursive;
}
.navbar-text {
    font-size: 16px;
    color: lime;
    text-decoration: none;
        }
.navbar-text:hover {
    color: blue;
    }
.btn-text  {
    margin: 20px;
    box-shadow: 1px 0 0 10px #e0e0e0;
    border-radius: 20px;
   }

.head {
       background-image: url("../images/22728870_1946221602368362_1845587053217905275_n.jpg");
    background-position: 50% 50%;
    background-size: cover;
    height: 300px;
}
.head-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.head-title {

    text-align: center;
}
.head h1, h3 {
    text-align: center;
    font-family: 'Lobster', cursive;
    }

.head-fon {
    width: 700px;
    height: 400px;
   }
.head-icon-big {
    display: flex;
    }

.icon-fb {
    width: 40px;
    height: 40px;
}

.head-news {
    text-align: center;
}
.social-icons {
    display: flex;
    list-style: none;
}
ul {
    margin: 0;
}
.social-icons>li {
    margin-left: 1rem;
 }

.social-icons a:hover {
    background-color: #e0e0e0;
}

.social-icons .social-icon-twitter::before {
    background-image: url("...");
}
.social-icons .social-icon-fb::before {
    background-image: url("...");
}

.social-icons .social-icon-telegram::before {
    background-image: url("...");
}
.social-icons .social-icon-youtube::before {
    background-image: url("...");
}
.info {
      text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.brat, .kozak, .broudi {
    text-align: center;
}

#mis {
    text-align: center;
}
.admin-info img {   
    height: 250px;
}

.misioner-info {
    text-align: center;
    margin: 20px;
}

.video {
    display: flex;
}
.video-first {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.newlife {
    text-align: center;
    }
.btnlife:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.tabl {
    border-block: black;
}
.news {
    margin: 20px;
}
.line:hover {
    color: limegreen;
}
.divcours {
    display: flex;
    justify-content: space-around;
}
.cours {
    margin: 30px;
}