@media screen and (max-width: 576px) {
    .info-1 {
        flex-direction: column;
    }
.ugkc-1 img {
    width: 100%;
}
    .idv-tabl  {
        font-size: 9px;
    }
    .idv-tabl h4 {
        font-size: 12px;
    }




}