@media screen and (max-width: 992px) {
   .head-one {
       flex-direction: column;
   }
    .divcours {
        flex-direction: column;
    }
    .head-two {
        margin: 0;
    }
    .head {
        flex-direction: column;
    }
    .head-img {
        width: 100%;
    }
    .head-title-img {
        width: 100px;
            }
    .head-title-h1 {
        margin: 0;
        font-size: 16px;
    }
    h1 {
        font-size: 20px;
    }
    .icon-text {
        display: none;
    }
    .footer {
        flex-direction: column;
    }
    .head-bank {
flex-direction: column;
    }
    .home {
        flex-direction: column;
    }
    .home-2 {
        flex-direction: column-reverse;
    }
    .home-text p {
        font-size: 12px;
    }
    .col {
        font-size: 9px;
    }
}
