body {
    padding: 20px;
}
.shef {
    background-color: beige;
    padding: 20px;
    }
.row {
    justify-content: space-evenly;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

.head-title {
    margin: 20px;
    text-align: center;
}
.head-title h1, h3 {
    font-size: 28px;
    font-family: 'Permanent Marker', cursive;
}
.head-title-img {
    border-radius: 40%;
}
.head-title-h1 {
    margin: 20px;
}
.navbar-text {
    font-size: 16px;
    color: lime;
    text-decoration: none;
        }
.navbar-text:hover {
    color: blue;
    }
.btn-text  {
    margin: 20px;
    box-shadow: 1px 0 0 10px #e0e0e0;
    border-radius: 20px;
   }

.head-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.head-fon {
    width: 700px;
    height: 400px;
   }
.head-icon-big {
    display: flex;
    }
.icon-text {

}
.icon-fb {
    width: 40px;
    height: 40px;
}

.head-news {
    text-align: center;
}
.social-icons {
    display: flex;
    list-style: none;
}
ul {
    margin: 0;
    padding-left: 0;
}
.social-icon-fb {
    margin-left: 0;
}
.social-icons>li {
    margin-left: 1rem;
 }

.social-icons a:hover {
    background-color: #e0e0e0;
}

.social-icons .social-icon-twitter::before {
    background-image: url("...");
}
.social-icons .social-icon-fb::before {
    background-image: url("...");
}

.social-icons .social-icon-telegram::before {
    background-image: url("...");
}
.social-icons .social-icon-youtube::before {
    background-image: url("...");
}
.info {
      text-align: center;
    font-family: 'Fira Sans', sans-serif;
    padding: 20px;
}
.info-1 {
    text-align: start;
    padding-top: 20px;
    align-items: center;
}
.info-1 img {
    width: 200px;
}

.brat, .kozak, .broudi {
    text-align: center;
}

#mis {
    text-align: center;
}
.admin-info img {   
    height: 250px;
}

.misioner-info {
    text-align: center;
    margin: 20px;
}

.video {
    display: flex;
}
.video-first {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.newlife {
    text-align: center;
    }
.btnlife:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.news {
    margin: 20px;
}
.line:hover {
    color: limegreen;
}
.divcours {
    display: flex;
    justify-content: space-around;
    }
.cours {
    margin: 30px;
    background: lime;
    flex-direction: column;
    align-items: center;
   }
.tabl {
    width: 192px;
}
.head-one {
    display: flex;
}
.head-two {
    width: 100%;
    margin: 20px;
    border-left: 2px;
}
.ugkc {
   background-color: #e0e0e0;
   padding: 10px;
    text-align: center;
    }
.news-ugkc {
    line-height: 14px;
    color: #777;
    margin-top: 20px;
}
.ugkc-1 img {
    width: 300px;
}
.offs {
text-align: left;
font-size: 11px;
line-height: 14px;
margin: 10px;
padding: 0;
color: #258;
}
 li {
    list-style: none;
}

.footer {
    height: 100%;
    margin-top: 20px;
    justify-content: space-evenly;
}
.kontakt {
    margin: 0;
    font-size: 12px;
}

.lh {
    list-style: none;
margin: 0;
padding: 0;
color: #258;
font-family: Cuprum,Arial,sans-serif;
display: block;
padding-bottom: 5px;
margin-bottom: 5px;
font-size: 22px;
line-height: 24px;
}
.col {
    border-top: solid;
    border-left: solid;
    width: 300px;
}
.col-four {
    border-right: solid;
}